*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial, Helvetica, sans-serif;

  background-image:url("https://media.giphy.com/media/xTiTnxpQ3ghPiB2Hp6/giphy.gif");

  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  background-attachment:fixed;

  min-height:100vh;
}

.navbar{
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:20px 40px;

  background:rgba(0,0,0,0.7);

  color:white;
}

.logo{
  font-size:40px;
  font-weight:bold;
}

.nav-links{
  display:flex;
  gap:20px;
  align-items:center;
}

.nav-links a{
  color:white;
  text-decoration:none;
  font-size:18px;
  font-weight:bold;
}

.page-container{
  width:90%;
  max-width:1200px;

  margin:40px auto;

  padding:30px;

  background:rgba(255,255,255,0.12);

  backdrop-filter:blur(8px);

  border-radius:20px;
}

.page-title{
  color:white;
  margin-bottom:20px;
  font-size:45px;
}

.form-container{
  display:flex;
  flex-direction:column;
  gap:15px;

  margin-bottom:40px;
}

.form-container input{
  padding:14px;
  border:none;
  border-radius:8px;
  font-size:16px;
}

.form-container button{
  background:#2563eb;
  color:white;

  border:none;

  padding:14px;

  border-radius:8px;

  cursor:pointer;

  font-size:16px;
}

.employee-card{
  background:white;

  padding:25px;

  border-radius:15px;

  margin-bottom:20px;
}

.employee-card h2{
  margin-bottom:10px;
}

.employee-card p{
  margin:8px 0;
}

.ai-btn{
  background:#16a34a;
  color:white;

  border:none;

  padding:12px 18px;

  border-radius:8px;

  cursor:pointer;

  margin-top:10px;
}

.recommendation-box{
  background:white;

  padding:25px;

  border-radius:15px;

  margin-top:30px;
}

.auth-container{
  width:400px;

  margin:80px auto;

  background:rgba(255,255,255,0.12);

  backdrop-filter:blur(8px);

  padding:40px;

  border-radius:20px;
}

.auth-container h1{
  color:white;

  margin-bottom:25px;

  text-align:center;
}

.auth-container input{
  width:100%;

  padding:14px;

  margin-bottom:15px;

  border:none;

  border-radius:8px;
}

.auth-container button{
  width:100%;

  padding:14px;

  border:none;

  border-radius:8px;

  background:#2563eb;

  color:white;

  cursor:pointer;

  font-size:16px;
}